body {background-color:#94F3FD;}
h1 { 
	margin: 2px;
	text-align: left;
}

h2 {
	height: 100%; 
	width:175px; 
	background-color: white; 
	background-image: linear-gradient(to left, white,#94F3FD,white)
}
.navbutton{
	cursor: pointer;
	color: #0080FF;
	background-color: white;
	border-radius: 10px;
}
.navbutton:hover{
	background-color:  #0080FF;
	color: white;
}
#bk_video{
	position: fixed;
	bottom:9;
	min-width: 100%;
	min-height: 100%;
	background-attachment:fixed;
	opacity: 0.2;
}
.content{
	position: fixed;
}
nav{
	border-radius: 24px;
}
#logo{
	width: 36px; 
	float: left; 
	padding: 6px;
	margin: 2px;
}
